/* ini css */

:root {
  --primary: #f1dec6;
  --bg: #ebe1d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #503417;
  min-height: 2000px;
}

/* navbar */
nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1.2rem 7%;
  background-color: #55aec7;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.image img {
  width: 30px;
}

.logo-icon {
  font-size: 2rem;
  font-weight: 700;
  color: #2c6d93;
}

.logo-icon span {
  color: #f0f7e9;
}

.nav-item a {
  position: relative;
  color: #f0f7e9;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.nav-item a:hover {
  color: var(--primary);
}

.nav-item a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-item a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra a {
  color: #f0f7e9;
  margin: 0 0.5rem;
}

.navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* hero section */
.hero {
  width: 100%;
  min-height: 100vh;
  /* place-items: center; */
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 8%;
  bottom: 0;
  background: linear-gradient(0deg, #ebe1d7 3%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  z-index: 999;
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 59px;
  font-weight: 700;
  color: #f0f7e9;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #c09d69;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .slider-navigation {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(390px);
  margin-bottom: 12px;
}

.hero .slider-navigation .slider {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3 ease;
}

.hero .slider-navigation .slider.active {
  background: black;
}

.hero .slider-navigation .slider:not(:last-child) {
  margin-right: 20px;
}

.hero .slider-navigation .slider:hover {
  transform: scale(1.2);
}

/* about section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .nav-item {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .nav-item.active {
    right: 0;
  }

  .nav-item a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .nav-item a::after {
    transform-origin: 0 0;
  }

  .nav-item a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-item {
  height: 100px;
  text-align: center;
}

.profile-img {
  height: 50px;
  background-image: url(https://cdn.pixabay.com/photo/2023/11/09/19/36/zoo-8378189_1280.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 50px;
}


/* Message Us */
#message {
  padding: 8rem 7% 1.5rem;
}

.form-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form {
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 50px;
  display: flex;
}

form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="radio"] {
  margin: 0 5px 0 10px;
}

form label {
  margin-right: 20px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

.output-form {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.output-form p {
  margin: 10px 0;
}

.output-form span {
  font-weight: bold;
}